body {
  margin: 0;
}

.game {
  position: relative;
  width: 320px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #000;
  overflow: hidden;
}

.game__hero {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  background-color: yellow;
}

.game__platforms-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.game__platform {
  font-size: 12px;
  border-radius: 20px;
  background-color: #ccc;
  padding: 3px 14px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 3s;
}
